.main {
    width: 100vw;
    min-height: 100vh;
}

.night {
    filter: invert(100%);
}

.night .img {
    filter: invert(100%);
    background-color: white;
    box-shadow: 0px 0px 15px 0px white;
}

.night .invert {
    filter: invert(100%);
}

.night .selectedLike {
    filter: drop-shadow(5px 5px 5px rgb(255, 0, 255));
}

.night .selectedUnlike {
    filter: drop-shadow(5px 5px 5px rgb(0, 255, 255));
}