.button {
    background-color: greenyellow;
    width: 300px;
    max-width: 95vw;
    height: 60px;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    transition: .45s;
}

.disabled {
    box-shadow: inset 0px 0px 100px 0px rgb(255, 255, 255, 0.6);
}