.main {
    width: 100vw;
    /* height: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registerButton {
    max-height: 10vh;
    min-height: 55px;

    font-size: 50px;
    height: 120px;
    width: 500px;
    max-width: 95%;
    border-radius: 20px;
    color: white;
}

.register {
    background-color: lightskyblue;
}

.login {
    background-color: greenyellow;
}

.main div,
.main label {
    font-size: 20px;
    color: rgb(0, 0, 0, 0.8);
    width: 480px;
    max-width: calc(100% - 20px);

    margin-top: 10px;
    margin-left: 20px;
}

.main div {
    margin-top: 0;
    font-size: 16px;
}