.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    max-width: calc(100% - 40px);
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.4);

    padding: 20px;
    padding-top: 10px;
    padding-bottom: 5px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.img {
    max-height: 95%;
    max-width: 95%;

    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px black;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.likes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.likes img {
    width: 40px;
    max-width: 100%;
    transition: 1s;
}

.likes h1 {
    font-size: 15px;
    text-align: center;
}

.selectedLike {
    filter: invert(100%) drop-shadow(5px 5px 5px rgb(0, 100, 0));
}

.selectedUnlike {
    filter: invert(100%) drop-shadow(5px 5px 5px rgb(100, 0, 0));
}

.comment {
    width: 40px;
}

.title {
    font-size: 28px;
    text-align: center;
}

.description {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
}

.detectedUrl {
    text-decoration: underline;
}


.userWraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}


.userWraper:not(:hover) .user {
    display: none;
}

.user {
    padding: 3px;
    position: absolute;
    border: 1px solid black;
    background-color: azure;
    text-align: center;
    font-size: 20px;
}

.userImage {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 25px;

    background-color: white;
    backdrop-filter: box-shadow(0 0 10px 0 white);
}